[nz-form] {
    width: 300px;

  }

.NM{
    margin: 0;
    padding: 0;
    background-image: url(../../../../assets/find-the-right-keyword-strategy-scaled-1-1-ZGX.png);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    
    display: flex; /* Flex konteyner */
    justify-content: center; /* Markazda bo'lish */
    align-items: center; /* Markazga ko'chirish */
    height: 100vh; /* Ekran balandligi bo'yicha to'liq o'rab yetadigan bo'lgani uchun */
    color: white;
    text-align: center;
}